# Cartelle di build
Debug/
Release/
FlashROM*/

#Cartella di build del progetto SCS
Projects/


# File generati dal compilatore
makefile*
*.libs
*.aem3
*.obj
*.out
*.bin
*.hex
*.map
*.exclude
*.bat
*.scp



# Impostazioni locali e indici
.settings/
.theia/
.clangd/
compile_commands.json
*.theia-workspace
.launches/
.DS_Store
simple_peripheral_cc2640r2lp_stack_library/FlashROM_Library/.clangd/compile_commands.json
project13_boardFW/FlashROM_StackLibrary/.clangd/compile_commands.json
